Goal:
*Design
*Software
*Culture

Requirements:
* Online — web
* About
* Issue dashboard

Features:
* Global
	* Easy to navigate 
	* Minimized scrolling
*
* Issue dashboard
	* Expansion Capabilities - Exploration capabilities
	* Information management -  Hidden information 

References:
*Websites
	* Issue
	* 


Notes:
 Should be a different experience than book
 Chad is going to send multimedia files: Text, images, and website resources
 Chad wants this thing on all “singular plane” - Multiple form (linearly, dynamically, etc)

 
 	